.main-ftr {
  font-family: "Montserrat";
  text-align: center;

  &__first-sctn {
    background-color: #ffffff;
    padding: 14px 0;
  }

  &__second-sctn {
    background-color: #111517;
    padding: 18px 0;
  }

  &__second-sctn-license {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    color: #fdfefe6b;
    line-height: 3.409;
    margin: 0 auto;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &__tel {
    display: flex;
    align-items: center;
    justify-content: center
  }

  &__nmbr {
    font-size: 18px;
    color: #111517;
    font-weight: 600;
    line-height: 2.083;
    margin-bottom: 10px;
  }

  &__icon-tel {
    width: 40px;
    height: 26px;
  }

  &__icon-tel-link {
    display: block;
    width: 22px;
    height: 26px;
    padding-bottom: 32px;
    margin-right: 8px;
    transition-property: all;
    transition-duration: 0.4s;

    &:hover,
    &:focus {
      transform: scale(1.5, 1.5);
    }
  }

  &__icon-instagram-link {
    display: block;
    width: 38px;
    height: 38px;
    margin: 0 auto;
    transition-property: transform;
    transition-duration: 0.4s;

    &:hover,
    &:focus {
      transform: scale(1.5, 1.5);
    }
  }
}

.box-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .main-ftr {
    .logo {
      margin-right: 84px;
    }

    &__first-sctn {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      background-color: #ffffff;
      padding: 40px 0;
    }

    &__second-sctn-license {
      text-align: left;
    }
  }

  .contact {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;

    &__tel {
      border-right: 1px solid #e0e0e0;
      padding: 0 30px;
      margin: 0 30px;
    }
  }

}

@media (min-width: 1280px) {
  .contact {
    &__nmbr {
      font-size: 27px;
      line-height: 37.5px;
      margin-bottom: 0;
      letter-spacing: 1.35px;
    }

    &__icon-tel-link,
    &__icon-tel {
      width: 36px;
      height: 40px;
      margin-right: 20px;
    }

  }

  .main-ftr {
    .logo {
      margin-right: 256px;
    }

    &__first-sctn {
      padding: 56px 0 48px;
    }

    &__second-sctn-license {
      font-size: 14.583px;
      line-height: 2.571;
      text-align: left;
    }
  }
}
