.main-ftr {
  font-family: "Montserrat";
  text-align: center;

  &__first-sctn {
    background-color: #ffffff; 
    padding: 14px 0;
  }

  &__tel-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &__icon-tel-link {
    display: inline-block;
    width: 22px;
    height: 26px;
    padding-bottom: 32px;
    margin-right: 8px;
    transition-property: all;
    transition-duration: 0.4s;

    &:hover,
    &:focus {
      transform: scale(1.5, 1.5);
    }   
  }

  &__icon-tel {
    width: 22px;
    height: 26px;
  }
  
  &__cntct-nmbr {
    display: inline-block;
    font-size: 18px;
    color: #111517;
    font-weight: 600;
    line-height: 2.083; 
    margin-bottom: 10px;    
  }
  
  &__icon-instagram-link {
    display: block;
    width: 38px;
    height: 38px;
    margin: 0 auto;
    margin-bottom: 20px;
    transition-property: transform;
    transition-duration: 0.4s;
    
    &:hover,
    &:focus {
      transform: scale(1.5, 1.5);
    }    
  }

  &__second-sctn {
    background-color: #111517;
    padding: 18px 0;
  }    

  &__second-sctn-license {
    font-size: 11px;
    color: #fdfefe6b;
    line-height: 3.409;
    margin: 0 auto;
  }
}

.logo-cont {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .main-ftr {
    &__first-sctn {
      background-color: #ffffff; 
      padding: 40px 0;
    }

    &__tel-box {
      border-right: 1px solid #e0e0e0;
      padding: 0 30px;
      margin: 0 30px;
    }

    &__cntct-nmbr {
      font-size: 20px;
      line-height: 0.875;
    }

    &__icon-instagram-link {
      display: inline-block;
      margin: 0;
    }

    &__lg {
      left: 40px;
      bottom: 40px;
    }
  
    &__second-sctn-license {
      text-align: left;
      padding-left: 40px;
    }
  }
}

@media (min-width: 1280px) {
  .main-ftr {
    &__first-sctn {
      padding: 56px 0 48px;
    }

    &__icon-tel-link,
    &__icon-tel {
      width: 42px;
      height: 38px;
    }
    
    &__cntct-nmbr {
      font-size: 27px;
      line-height: 0.385;
      margin-bottom: 6px;
      letter-spacing: 1.35px;
    }

    &__lg {
      left: 36px;
      bottom: 50px;
    }

    &__second-sctn {
      padding: 18px 0;
    }
  
    &__second-sctn-license {
      font-size: 14.583px;
      line-height: 2.571;
      text-align: left;
      padding-left: 36px;  
    }    
  }
}