.program {
  padding-top: 53px;
  padding-bottom: 440px;
  background-color: $black-color;

  &_section-wrapper {
    position: relative;
    min-height: 1588px;

    @include for-tablet {
      min-height: 1084px;
    }
    @include for-desktop {
      min-height: 915px;
    }
  }

  &_section-wrapper::after {
    content: "";
    width: 143px;
    height: 183px;
    background-image: url(../images/sec-program/pic-mob.png);
    position: absolute;
    right: 0;
    bottom: 0;

    @include for-tablet {
      width: 423px;
      height: 291px;
      background-image: url(../images/sec-program/pic-tabl.jpg);
      right: -40px;
      bottom: -60px;
    }
    @include for-desktop {
      width: 545px;
      height: 394px;
      background-image: url(../images/sec-program/pic-desk.jpg);
      left: -20px;
      bottom: -60px;
    }
  }

  &__title {
    font-family: 'Montserrat800', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 1px;
    color: $white;
    margin-bottom: 40px;
  }
}

.schedule {
  padding-left: 30px;
  position: relative;
  display: inline-block;
  left: 10%;

  &::before {
    left: 0;
    top: 10px;
    position: absolute;
    display: block;
    content: '';
    width: 2px;
    height: 1278px;
    background-color: $gray-color;
  }

  &__item {
    position: relative;
    ;
    text-align: start;
    margin-bottom: 23px;

    &:nth-child(5) {
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      top: 10px;
      left: -34px;
      display: block;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $orange;
    }
  }

  &__revision {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.55px;
    color: $gray-color;
  }

  &__part {
    text-transform: uppercase;
    color: $white;
    font-family: 'Montserrat700', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 29.17px;
    letter-spacing: 1.65px;
  }
}


.last-part::after {
  margin-top: 30px;
  margin-bottom: 27px;
  display: block;
  content: '';
  width: 25px;
  height: 2px;
  background-color: $orange;
}

.lessons {
  &__name {
    position: relative;
    padding-left: 38px;
    font-family: 'Montserrat700', sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.65px;
    line-height: 29.17px;
    color: $orange;
    margin-bottom: 23px;

    &::before {
      display: block;
      content: '';
      width: 25px;
      height: 2px;
      background-color: $orange;
      position: absolute;
      top: 50%;
      left: 0;
    }
  }

  &__topic {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.55px;
    color: $gray-color;
  }
}

@media (min-width:768px) {
  .program {
    &__title {
      text-align: start;
      font-size: 26px;
      line-height: 62.54px;
      letter-spacing: 1.3px;
      margin-bottom: 56px;
    }
  }

  .wraper {
    display: flex;
  }

  .lessons {
    width: 160px;
  }

  .schedule {
    left: 2%;
    padding-left: 49px;
    padding-bottom: 40px;

    &::before {
      top: 14px;
      height: 815px;
    }

    &__item::before {
      left: -53px;
    }


    &__part {
      font-size: 15px;
      line-height: 29.72px;
      letter-spacing: 1.65px;
      margin-bottom: 25px
    }
  }
}

@media (min-width:1280px) {
  .program {
    &__title {
      font-size: 42px;
      line-height: 62.54px;
      letter-spacing: 2.1px;
      margin-bottom: 90px;
    }
  }

  .schedule {
    display: flex;
    justify-content: space-between;
    left: 0;

    &::before {
      top: -55px;
      width: 100%;
      height: 2px;
    }

    &__item {
      margin-left: 0;
      margin-bottom: 0;

      &::before {
        width: 19px;
        height: 19px;
        top: -63px;
        left: 0;
      }
    }

    &__part {
      font-size: 19px;
      letter-spacing: 2.09px;
      line-height: 29.17px;
    }

    &__revision {
      font-size: 18.75px;
      line-height: 29.17px;
      letter-spacing: 0.9375px;
    }
  }

  .wraper {
    display: block;
  }

  .lessons {
    margin-bottom: 43px;
    width: 190px;

    &:last-child {
      margin-bottom: 0;
    }

    &__name {
      font-size: 18px;
      line-height: 29.17px;
      letter-spacing: 0.9px;
    }

    &__topic {
      font-size: 18.75px;
      line-height: 29.17px;
      letter-spacing: 0.9375px;
    }
  }
}
